:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #ccc;
    --second-color: #5f5f5f;
    --main-color: #0B5ED7;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    background-position: center;
}

.form-text{
    color: var(--second-color);
}

.form-control {
    border: 1px solid transparent;
    background-color: var(--bg-color);
    border: none;
    outline: none;
    font-weight: 300;
    color: var(--text-color);
}

input.form-control::placeholder {
    color: var(--second-color);
}

input.form-control:focus {
    background-color: var(--bg-color);
    color: var(--second-color);
}

.offcanvas{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.offcanvas a{
    text-decoration: none;
}

.img-fluid{
    width: 50px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
}

.bg-body-tertiary{
    background-color: var(--bg-color) !important;
    box-shadow: 0px 2px black;
}

.navbar-brand{
    color: var(--text-color) !important;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 3px black;
    font-size: 25px;
    padding: 0;
    margin: 0;

}

.navbar-brand:hover{
    color: var(--text-color);
    text-decoration: none;
}

.custom-dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
    right: 0%;
    left: auto;
    background-color: var(--second-color);
    border: 1px solid var(--text-color);
}

.dropdown-item{
    color: var(--text-color);
}

.dropdown-toggle{
    color: var(--text-color);
}

.mt-5{
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
}